.footer {
  background-color: #032541;
  color: #ffffff;
  padding: 3rem 3rem 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 1rem;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #01b4e4;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #01b4e4;
}

.footer-bottom {
  border-top: 1px solid #ffffff3d;
  padding-top: 1rem;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-icons svg {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.social-icons svg:hover {
  color: #01b4e4;
}

.footer-bottom p {
  font-size: 0.8rem;
  color: #ffffffb3;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 2rem;
  }
}